<!-- utilizamos la potencia de las vistas para
usar mas facil el HTML. ctrl c + v de index.ejs-->
<nav>
    <ul>
        <li><a href="#">INICIO</a></li>
        <li><a href="#">REMITOS</a></li>
        <li><a href="#">CHOFERES</a></li>
        <li><a href="#">CONTACTO</a></li>
    </ul>
</nav>