<h1>Hola EJS</h1>
<p><%=2+2 %></p>
<!-- procesa el dato <%= %> este es el "body" de nuestro layout -->
<!-- Desde router luego de la / se genera el render de este index
con el layout cambio en todo el proyecto -->