<!-- SI CAMBIO ALGO DE ACÃ SE CAMBIA EN TODAS PARTES -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD</title>
</head>
<body>
    <header>
        <h1>Los Novillos</h1>
        <%- include('partials/nav') -%>
    </header>
    
    <main>
        <%- body %>
    </main>

    <footer>
        Copyright &copy; 2022
    </footer>
</body>
</html>